.profile-update-form {
    display: flex;
    width: 90%;
    margin: 0 auto;
    min-height: 80vh;
    flex-direction: column;
    justify-content: center;
}

.profile-update-form .update-form-title {
    margin-bottom: 1em;
    text-align: center;
}

.row {
    display: flex;
    column-gap: 2em;
}

.col-4 {
    width: 33.3%;
}

.col-4 .avatar {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1em;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-8 {
    width: 68.5%;
}